/*
Dark cyan: hsl(185, 75%, 39%)
Very dark desaturated blue: hsl(229, 23%, 23%)
Dark grayish blue: hsl(227, 10%, 46%)

### Neutral

Dark gray: hsl(0, 0%, 59%)
 */

 @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    margin:0;
    padding:0;
    font-family: 'Kumbh Sans', sans-serif;
}

 body {
    height: 100vh;
    max-width: 1440;
    background-color: hsl(185, 75%, 39%);
    background-image: 
        url('./images//bg-pattern-top.svg'), 
        url('./images/bg-pattern-bottom.svg');
    background-position: 
        top -550px left -325px,
        bottom -650px right -300px;
    background-repeat: no-repeat;
    position: relative;
 }

.card-container {
    background-color: white;
    position: absolute;
    height:425px;
    width: 375px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5%;
    overflow: hidden;
    display:flex;
    flex-direction: column;
}

.card-top-background-image {
    width:100%;
}

.card-content-image {
    border-radius: 50%;
    border: 3px solid white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-content-info {
    text-align: center;
    padding-top: 75px;
}

.card-content-info-name {
    font-weight: 700;
    font-size: 20px;
}

.card-content-info-age {
    font-weight: 400;
    color:hsl(0, 0%, 59%);
    margin-left: 5px;
}

.card-content-info-city {
    color: hsl(0, 0%, 59%);
    margin-top: -10px;
}

hr {
    opacity: .25;
    margin-top: 28px;
}
.card-content-social {
    display: flex;
    justify-content: space-between;
    margin: 10px 50px;
}

.card-content-social-description {
   display: inline-block;
   text-align: center;
}

.card-content-social-type {
    font-weight: 400;
    font-size: 14px;
    color: hsl(0, 0%, 59%);
    margin-top: -10px;
 }

.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 20%);
    margin-left: auto;
    margin-right: auto;

}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}