@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

$veryDarkGray: hsl(0, 0%, 17%);
$darkGray: hsl(0, 0%, 59%);

html, body {
    margin: 0;
    box-sizing: border-box;
}

input:focus {
    outline: none;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}

form {
    display: flex;

}

button {
    display: inline-block; 
    border: none;
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px;
    padding: 1rem 1rem;
    margin: 0;
    height: 42px;
    text-decoration: none;
    background: black;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: rgb(48, 48, 48);
}

button:focus {
    outline: none;

}

button:active {
    transform: scale(0.99);
}

.card-container-search-button {
    transform: scale(.8);
}


.container {
    position: relative;
    display: flex;
    flex-direction:column;
    align-items: center;

    &-background {
        width: 100%;
        height: 30vh;
        background-image: url('../../images/pattern-bg.png');
        background-position: cover;
        text-align: center;
    }

    .card-container {
        h3 { 
            color: white;
            margin-bottom: 40px;
            font-weight: 400;
        };
        position: absolute;
        height: 315px;
        border-radius: 5px;
        left: 50%;
        transform: translate(-50%);
        width: 320px;
        text-align: center;
        z-index: 2;
        
        &-content {
            line-height: .1;
            background-color: white;
            border-radius: 5px;
            height: 300px;
            margin-top:5px;
            padding-top: .5px;
                h6 { color: $darkGray;}
                h3 { color: $veryDarkGray }
        }
    
        &-search {
            margin-top: -25px;
            text-align: left; 

            &-input {
                width: 100%;
                border: none;
                padding-left: 10px;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                height: 40px;
            }
        }
    
    }
}

.map-container {
    height: 70vh;
    width: 100%;
    z-index: 1;
}

#mapid {
    height: 70vh;
    width: 100%;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (min-width:800px) {

    .vertical-line {
        border-left: 1px solid $darkGray;
        height: 50px;
        opacity: .5;
        margin-top: 20px;
    }
    .container .card-container {
        height: 100px;
        width: 100%;
        top: 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .card-container-content{
        width: 800px;
        display: flex;
        justify-content: space-evenly;
    }

    .container .card-container-content {
        height: 120px;
    }

    .container .card-container-search {
        width: 400px;
        margin-bottom: 70px;

    }
}